{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include '../includes/header.html' %}
    <section id="aboutus"
    class="about-detail"
    style="background: linear-gradient(90deg, #032A58 43.86%, rgba(3, 42, 88, 0) 100%), url('{{spotlight.image.url}}'); background-size:cover; background-repeat:no-repeat;">
    <div class="wrapper">
        <div class="title">
            <h2 >{{about.title|capfirst}}</h2>
            <h4>{{about.sub_title}}</h4>
        </div>
    </div>
    </section>

    <!-- about content  -->
    <section id="content-history">
        <div class="wrapper">
            <p>
                {{about.description|slice:":379"}}
                <br>
                <br>
                {{about.description|slice:"379:"}}
                <br>
            </p>
        </div>
    </section>
    
    {% include "../includes/footer.html" %}
    {% endblock content %}