{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}
{% block content %}
{% include '../../includes/header.html' %}

<!-- #alumni-activities-single-page -->

<section id="alumni-activities">
    <div class="wrapper">
        <div class="top">
            <h3 class="grey-content">Alumni Activities</h3>
            <h2>Stay <span class="blue_color">connected</span> with alumni activities</h2>
        </div>
        <div class="bottom">
            <ul class="cards">
                {% for activity in alumni_activities %}
                <li class="card" onclick="window.location.href='{% url 'alumni:alumni_activity' uuid=activity.id %}'">
                    <div class="slider imager_box">
                        {% for gallery in activity.gallery.all %}
                        <div class="img-container">
                            <img src="{{gallery.image.url}}" alt="Image" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="details detailed-page">
                        <a href="{% url 'alumni:alumni_activity' uuid=activity.id %}">
                            <span>{{activity.date|date:"d M Y"}}</span>
                            <h4 class="sub-title">{{activity.title|capfirst}}</h4>
                            <p>{{activity.description|truncatewords:20}}</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% comment %} Pagination {% endcomment %}
            {% if alumni_activities.has_other_pages %}
            <ul class="listpage-box">
                {% if alumni_activities.has_previous %}
                <li class="page-box">
                    <span> &#8249;</span>
                    <a href="?page={{alumni_activities.previous_page_number}}" class="pagi"> Previous</a>
                </li>
                {% else %}
                <li class="page-box disabled">
                    <span> &#8249;</span>
                    <a class="pagi"> Previous</a>
                </li>
                {% endif %}

                {% get_elided_page_range alumni_activities.paginator alumni_activities.number as page_range %}
                {% for count in page_range %}
                {% if alumni_activities.number == count %}
                <li class="page-box  active"><a href="?page={{count}}" class="pagi">{{count}}</a></li>
                {% else %}
                <li class="page-box"><a href="?page={{count}}" class="pagi">{{count}}</a></li>
                {% endif %}
                {% endfor %}

                {% if alumni_activities.has_next %}
                <li class="page-box">
                    <a href="?page={{alumni_activities.next_page_number}}" class="pagi">Next</a>
                    <span class="right">&#8250;</span>
                </li>
                {% else %}
                <li class="page-box disabled">
                    <a class="pagi">Next</a>
                    <span class="right">&#8250;</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div> <!-- wrapper > End -->
</section><!-- alumni-activities End -->

{% include "../../includes/footer.html" %}
{% endblock content %}