* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper-secondary {
    width: 85%;
    margin: 0 auto;
}

#all-result {
    padding: 160px 0 100px;
    background-color: #f9f9f9;
}

#all-result .top {
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
    margin-bottom: 35px;
}
#all-result h1 {
    font-size: 30px;
    font-weight: bold;
    color: #232323;
    margin-bottom: 15px;
}
#all-result h1 span {
    color: #054289;
}
#all-result .top h2 {
    font-size: 24px;
    color: #000000;
    text-align: left;
    font-weight: 400;
    margin-bottom: 24px;
}
#all-result .top .years {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 6px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    width: max-content;
    height: 46px;
    margin-bottom: 20px;
}
#all-result .top .years button {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    color: #232323;
    border-radius: 10px;
    overflow: hidden;
}
#all-result .top .years button.active {
    background-color: #054289;
    color: #fff;
}
#all-result .top .years .line {
    background-color: #e1e1e1;
    height: 100%;
    width: 1px;
}
#all-result .top .result {
    display: none;
}
#all-result .top .result.active {
    display: block;
}
#all-result .top .result .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#all-result .top .result .content .result-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    padding: 20px;
}
#all-result .top .result .content .result-card .icon {
    width: 20px;
}
#all-result .top .result .content .result-card span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}
#all-result .bottom {
    display: flex;
    flex-direction: column;
    display: none;
}
#all-result .bottom.active {
    display: block;
}
#all-result .bottom h2 {
    font-size: 24px;
    color: #000000;
    text-align: left;
    font-weight: 400;
    margin-bottom: 24px;
}
#all-result .bottom .result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#all-result .bottom .result .result-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#all-result .bottom .result .result-card .icon {
    width: 20px;
}
#all-result .bottom .result .result-card span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

@media all and (max-width: 1280px) {
    #all-result h1 {
        font-size: 30px;
    }
    #all-result {
        padding: 140px 0 80px;
    }
}

@media all and (max-width: 1080px) {
    #all-result h1 {
        font-size: 28px;
    }
}

@media all and (max-width: 980px) {
    #all-result h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    #all-result .top {
        /* gap: 20px; */
    }
    #all-result .top h2 {
        font-size: 22px;
    }
    #all-result .bottom h2 {
        font-size: 22px;
    }
    #all-result {
        padding: 130px 0 70px;
    }
}

@media all and (max-width: 680px) {
    #all-result h1 {
        font-size: 24px;
    }
    #all-result {
        padding: 120px 0 60px;
    }
}

@media all and (max-width: 640px) {
    #all-result h1 {
        font-size: 22px;
    }
    #all-result .top .years {
        width: 100%;
        overflow-x: scroll;
    }
    #all-result .top .years button {
        font-size: 15px;
        padding: 9px 14px;
        display: flex;
        flex-shrink: 0;
    }
    #all-result .top .years .line {
        display: flex;
        flex-shrink: 0;
    }
    #all-result .top h2 {
        font-size: 20px;
    }
    #all-result .bottom h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 540px) {
    #all-result .bottom .result .result-card {
        padding: 15px;
    }
    #all-result .bottom .result .result-card {
        padding: 15px;
    }
    #all-result .top .result .content .result-card {
        padding: 15px;
    }
    #all-result {
        padding: 110px 0 50px;
    }
}

@media all and (max-width: 480px) {
    #all-result .top h2 {
        font-size: 18px;
    }
    #all-result .bottom h2 {
        font-size: 18px;
    }
    #all-result h1 {
        margin-bottom: 10px;
    }
    #all-result .top .years button {
        font-size: 14px;
    }
    #all-result .bottom .result .result-card span {
        font-size: 14px;
    }
    #all-result .bottom .result .result-card .icon {
        width: 16px;
        height: 16px;
    }

    #all-result .top .result .content .result-card span {
        font-size: 14px;
    }
    #all-result .top .result .content .result-card .icon {
        width: 16px;
        height: 16px;
    }
}

@media all and (max-width: 420px) {
    #all-result .bottom .result {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 12px;
    }
    #all-result .top .result .content {
        flex-direction: column;
        gap: 12px;
    }
    #all-result .top .result .content .result-card {
        width: 100%;
    }
}
